<a href="https://colab.research.google.com/github/naulakhanandinee/Sentiment-Analysis-Movie-Reviews/blob/main/MovieSentimentAnalysisTFIDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('//content/drive/MyDrive/Colab Notebooks/IMDB Dataset.csv')
df['sentiment'].replace({'positive':1 ,'negative':0},inplace=True)

# Text Cleaning
1. Remove html tags
2. Remove special characters
3. Convert everything to lowercase
4. Remove stopwords
5. Stemming

In [ ]:
df=df.sample(10000)
df.shape

(10000, 2)

In [ ]:
#function to clean html tags
import re
def clean_html(text):
  clean=re.compile('<.*?>')
  return re.sub(clean,' ',text)

df['review']=df['review'].apply(clean_html)
df

                                                  review  sentiment
15944  This was pretty inevitable. This movie borrows...          0
538    Sixth escapade for Freddy Krueger in which he ...          0
17435  After apprehending the man responsible for the...          0
11217  John (Ben Chaplin) is a lonely bank clerk who ...          1
15505  I attended one of the premieres last night and...          0
...                                                  ...        ...
49633  I absolutely despise this movie. No wonder Jos...          0
21015  Crackerjack is a simple but feelgood movie whe...          1
20639  Hal Hartley's Henry Fool was an independent fi...          1
29654  Lock Up Your Daughters is one of the best high...          1
22600  I've come to realise through watching this sor...          0

[10000 rows x 2 columns]

In [ ]:
#converting everthing to lower
def convert_lower(text):
  return text.lower()

df['review']=df['review'].apply(convert_lower)
df

                                                  review  sentiment
15944  this was pretty inevitable. this movie borrows...          0
538    sixth escapade for freddy krueger in which he ...          0
17435  after apprehending the man responsible for the...          0
11217  john (ben chaplin) is a lonely bank clerk who ...          1
15505  i attended one of the premieres last night and...          0
...                                                  ...        ...
49633  i absolutely despise this movie. no wonder jos...          0
21015  crackerjack is a simple but feelgood movie whe...          1
20639  hal hartley's henry fool was an independent fi...          1
29654  lock up your daughters is one of the best high...          1
22600  i've come to realise through watching this sor...          0

[10000 rows x 2 columns]

In [ ]:
#function to remove special characters

def remove_special(text):
  x=''

  for i in text:
    if i.isalnum():
      x=x+i
    else:
      x= x + ' '
  return x

df['review']=df['review'].apply(remove_special)
df

                                                  review  sentiment
15944  this was pretty inevitable  this movie borrows...          0
538    sixth escapade for freddy krueger in which he ...          0
17435  after apprehending the man responsible for the...          0
11217  john  ben chaplin  is a lonely bank clerk who ...          1
15505  i attended one of the premieres last night and...          0
...                                                  ...        ...
49633  i absolutely despise this movie  no wonder jos...          0
21015  crackerjack is a simple but feelgood movie whe...          1
20639  hal hartley s henry fool was an independent fi...          1
29654  lock up your daughters is one of the best high...          1
22600  i ve come to realise through watching this sor...          0

[10000 rows x 2 columns]

In [ ]:
#function to remove stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

def remove_stopwords(text):
  x=[]
  for i in text.split():
    if i not in stopwords.words('english'):
      x.append(i)
  y=x[:]
  x.clear()
  return y

df['review']= df['review'].apply(remove_stopwords)
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                                  review  sentiment
15944  [pretty, inevitable, movie, borrows, core, fil...          0
538    [sixth, escapade, freddy, krueger, finally, ma...          0
17435  [apprehending, man, responsible, murder, boss,...          0
11217  [john, ben, chaplin, lonely, bank, clerk, live...          1
15505  [attended, one, premieres, last, night, follow...          0
...                                                  ...        ...
49633  [absolutely, despise, movie, wonder, jose, lar...          0
21015  [crackerjack, simple, feelgood, movie, good, g...          1
20639  [hal, hartley, henry, fool, independent, film,...          1
29654  [lock, daughters, one, best, high, spirited, c...          1
22600  [come, realise, watching, sort, film, like, mu...          0

[10000 rows x 2 columns]

In [ ]:
#stemming

from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

y=[]
def stem_words(text):
  for i in text:
    y.append(ps.stem(i))
  z=y[:]
  y.clear()
  return z  

df['review']=df['review'].apply(stem_words)
df

                                                  review  sentiment
15944  [pretti, inevit, movi, borrow, core, film, bor...          0
538    [sixth, escapad, freddi, krueger, final, manag...          0
17435  [apprehend, man, respons, murder, boss, deputi...          0
11217  [john, ben, chaplin, lone, bank, clerk, live, ...          1
15505  [attend, one, premier, last, night, follow, ob...          0
...                                                  ...        ...
49633  [absolut, despis, movi, wonder, jose, larraz, ...          0
21015  [crackerjack, simpl, feelgood, movi, good, guy...          1
20639  [hal, hartley, henri, fool, independ, film, ma...          1
29654  [lock, daughter, one, best, high, spirit, come...          1
22600  [come, realis, watch, sort, film, like, much, ...          0

[10000 rows x 2 columns]

In [ ]:
#join back

def join_back(list_input):
  return " ".join(list_input)

df['review']=df['review'].apply(join_back)
df

                                                  review  sentiment
15944  pretti inevit movi borrow core film borrow arm...          0
538    sixth escapad freddi krueger final manag kill ...          0
17435  apprehend man respons murder boss deputi sheri...          0
11217  john ben chaplin lone bank clerk live small to...          1
15505  attend one premier last night follow observ 1 ...          0
...                                                  ...        ...
49633  absolut despis movi wonder jose larraz disown ...          0
21015  crackerjack simpl feelgood movi good guy good ...          1
20639  hal hartley henri fool independ film masterpie...          1
29654  lock daughter one best high spirit comedi ever...          1
22600  come realis watch sort film like much cage wom...          0

[10000 rows x 2 columns]

# Data Transformation

In [ ]:
#TFIDF
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

In [ ]:
A=tfidf.fit_transform(df['review']).toarray()
b=df['sentiment'].values

A_train, A_test, b_train, b_test=train_test_split(A,b,test_size=0.2)

# Training Models

In [ ]:
#Naive Bayes Model
from sklearn.naive_bayes import MultinomialNB, GaussianNB

tfmlnb= MultinomialNB()
tfgsnb= GaussianNB()

tfgsnb.fit(A_train, b_train)
tfmlnb.fit(A_train, b_train)

b_pred_mlnb=tfmlnb.predict(A_test)
b_pred_gsnb=tfgsnb.predict(A_test)

print("Multinomial NB")
print(classification_report(b_test, b_pred_mlnb))
print("Gausssian NB")
print(classification_report(b_test, b_pred_gsnb))

Multinomial NB
              precision    recall  f1-score   support

           0       0.85      0.86      0.86       977
           1       0.87      0.85      0.86      1023

    accuracy                           0.86      2000
   macro avg       0.86      0.86      0.86      2000
weighted avg       0.86      0.86      0.86      2000

Gausssian NB
              precision    recall  f1-score   support

           0       0.61      0.69      0.64       977
           1       0.66      0.58      0.61      1023

    accuracy                           0.63      2000
   macro avg       0.63      0.63      0.63      2000
weighted avg       0.63      0.63      0.63      2000

In [ ]:
#Logistic Regression Model

from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(A_train, b_train)
b_pred_lr=lr.predict(A_test)
print(classification_report(b_test,b_pred_lr))

              precision    recall  f1-score   support

           0       0.88      0.85      0.87       977
           1       0.86      0.89      0.88      1023

    accuracy                           0.87      2000
   macro avg       0.87      0.87      0.87      2000
weighted avg       0.87      0.87      0.87      2000

# Custom Test

In [ ]:
#Using best performing model (LogisticRegression)

y_cs=df.sentiment
trainingVector = TfidfVectorizer()
X_cs = trainingVector.fit_transform(df.review)
LR_cs = LogisticRegression()
LR_cs.fit(X_cs, y_cs)

#Input Review

print('\nTest a custom review message')
print('Enter review to be analysed: ', end=" ")
test = []
test.append(input())
test_cs = trainingVector.transform(test)
predLabel = LR_cs.predict(test_cs)
tags = ['Negative','Positive']

#Display Output

print('The review is predicted',tags[predLabel[0]])

Test a custom review message
Enter review to be analysed:  i disliked every second of it
The review is predicted Negative