<a href="https://colab.research.google.com/github/naulakhanandinee/Sentiment-Analysis-Movie-Reviews/blob/main/SentimentAnalysisCountVectorizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IMDB Dataset.csv')
df['sentiment'].replace({'positive':1 ,'negative':0},inplace=True)

FileNotFoundError: ignored

# Text Cleaning
1. Remove html tags
2. Remove special characters
3. Convert everything to lowercase
4. Remove stopwords
5. Stemming

In [ ]:
df=df.sample(10000)
df.shape
df

                                                  review  sentiment
14934  I know a lot of people don't like this movie, ...          1
24124  Sandra Bullock is my favorite actress..... But...          0
22155  The beautiful, charming, supremely versatile a...          1
12820  Adventures in Dinosaur City, though a creative...          0
15751  This is a refreshing, enjoyable movie. If you ...          1
...                                                  ...        ...
44090  Today You Die was the 4th Seagal movie in a mi...          0
2003   This Showtime cable film features a talented c...          1
41468  Despite its many faults, Hallmark's 1995 versi...          1
23921  During university, our Philosophy professor, M...          0
1793   It was evident until the final credits that th...          1

[10000 rows x 2 columns]

In [ ]:
#function to clean html tags
import re
def clean_html(text):
  clean=re.compile('<.*?>')
  return re.sub(clean,' ',text)

df['review']=df['review'].apply(clean_html)
df

                                                  review  sentiment
14934  I know a lot of people don't like this movie, ...          1
24124  Sandra Bullock is my favorite actress..... But...          0
22155  The beautiful, charming, supremely versatile a...          1
12820  Adventures in Dinosaur City, though a creative...          0
15751  This is a refreshing, enjoyable movie. If you ...          1
...                                                  ...        ...
44090  Today You Die was the 4th Seagal movie in a mi...          0
2003   This Showtime cable film features a talented c...          1
41468  Despite its many faults, Hallmark's 1995 versi...          1
23921  During university, our Philosophy professor, M...          0
1793   It was evident until the final credits that th...          1

[10000 rows x 2 columns]

In [ ]:
#converting everthing to lower
def convert_lower(text):
  return text.lower()

df['review']=df['review'].apply(convert_lower)
df

                                                  review  sentiment
14934  i know a lot of people don't like this movie, ...          1
24124  sandra bullock is my favorite actress..... but...          0
22155  the beautiful, charming, supremely versatile a...          1
12820  adventures in dinosaur city, though a creative...          0
15751  this is a refreshing, enjoyable movie. if you ...          1
...                                                  ...        ...
44090  today you die was the 4th seagal movie in a mi...          0
2003   this showtime cable film features a talented c...          1
41468  despite its many faults, hallmark's 1995 versi...          1
23921  during university, our philosophy professor, m...          0
1793   it was evident until the final credits that th...          1

[10000 rows x 2 columns]

In [ ]:
#function to remove special characters

def remove_special(text):
  x=''

  for i in text:
    if i.isalnum():
      x=x+i
    else:
      x= x + ' '
  return x

df['review']=df['review'].apply(remove_special)
df

                                                  review  sentiment
14934  i know a lot of people don t like this movie  ...          1
24124  sandra bullock is my favorite actress      but...          0
22155  the beautiful  charming  supremely versatile a...          1
12820  adventures in dinosaur city  though a creative...          0
15751  this is a refreshing  enjoyable movie  if you ...          1
...                                                  ...        ...
44090  today you die was the 4th seagal movie in a mi...          0
2003   this showtime cable film features a talented c...          1
41468  despite its many faults  hallmark s 1995 versi...          1
23921  during university  our philosophy professor  m...          0
1793   it was evident until the final credits that th...          1

[10000 rows x 2 columns]

In [ ]:
#function to remove stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

def remove_stopwords(text):
  x=[]
  for i in text.split():
    if i not in stopwords.words('english'):
      x.append(i)
  y=x[:]
  x.clear()
  return y

df['review']= df['review'].apply(remove_stopwords)
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                                  review  sentiment
14934  [know, lot, people, like, movie, think, adorab...          1
24124  [sandra, bullock, favorite, actress, movie, ho...          0
22155  [beautiful, charming, supremely, versatile, ta...          1
12820  [adventures, dinosaur, city, though, creative,...          0
15751  [refreshing, enjoyable, movie, enjoyed, four, ...          1
...                                                  ...        ...
44090  [today, die, 4th, seagal, movie, mini, maratho...          0
2003   [showtime, cable, film, features, talented, ca...          1
41468  [despite, many, faults, hallmark, 1995, versio...          1
23921  [university, philosophy, professor, mr, r, pla...          0
1793   [evident, final, credits, film, made, 1989, el...          1

[10000 rows x 2 columns]

In [ ]:
#stemming

from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

y=[]
def stem_words(text):
  for i in text:
    y.append(ps.stem(i))
  z=y[:]
  y.clear()
  return z  

df['review']=df['review'].apply(stem_words)
df

                                                  review  sentiment
14934  [know, lot, peopl, like, movi, think, ador, mu...          1
24124  [sandra, bullock, favorit, actress, movi, horr...          0
22155  [beauti, charm, suprem, versatil, talent, iren...          1
12820  [adventur, dinosaur, citi, though, creativ, id...          0
15751  [refresh, enjoy, movi, enjoy, four, wed, funer...          1
...                                                  ...        ...
44090  [today, die, 4th, seagal, movi, mini, marathon...          0
2003   [showtim, cabl, film, featur, talent, cast, we...          1
41468  [despit, mani, fault, hallmark, 1995, version,...          1
23921  [univers, philosophi, professor, mr, r, play, ...          0
1793   [evid, final, credit, film, made, 1989, elemen...          1

[10000 rows x 2 columns]

In [ ]:
#join back

def join_back(list_input):
  return " ".join(list_input)

df['review']=df['review'].apply(join_back)
df

                                                  review  sentiment
14934  know lot peopl like movi think ador much say m...          1
24124  sandra bullock favorit actress movi horribl he...          0
22155  beauti charm suprem versatil talent iren dunn ...          1
12820  adventur dinosaur citi though creativ idea nau...          0
15751  refresh enjoy movi enjoy four wed funer peter ...          1
...                                                  ...        ...
44090  today die 4th seagal movi mini marathon held w...          0
2003   showtim cabl film featur talent cast weav toge...          1
41468  despit mani fault hallmark 1995 version gulliv...          1
23921  univers philosophi professor mr r play us roge...          0
1793   evid final credit film made 1989 element produ...          1

[10000 rows x 2 columns]

# Data Transformation

In [ ]:
#Count Vectorizer
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [ ]:
A=cv.fit_transform(df['review']).toarray()
b=df['sentiment'].values

A_train, A_test, b_train, b_test=train_test_split(A,b,test_size=0.2)

# Training Models

In [ ]:
#Naive Bayes Model
from sklearn.naive_bayes import MultinomialNB, GaussianNB

cvmlnb= MultinomialNB()
cvgsnb= GaussianNB()

cvgsnb.fit(A_train, b_train)
cvmlnb.fit(A_train, b_train)

b_pred_mlnb=cvmlnb.predict(A_test)
b_pred_gsnb=cvgsnb.predict(A_test)

print("Classification Report of Multinomial Naive Bayes using Bag of Words features \n")
print(classification_report(b_test, b_pred_mlnb))
print("Classification Report of Gausssian Naive Bayes using Bag of Words features \n")
print(classification_report(b_test, b_pred_gsnb))

Classification Report of Multinomial Naive Bayes using Bag of Words features

              precision    recall  f1-score   support

           0       0.83      0.89      0.86       977
           1       0.89      0.82      0.85      1023

    accuracy                           0.86      2000
   macro avg       0.86      0.86      0.86      2000
weighted avg       0.86      0.86      0.86      2000

Classification Report of Gausssian Naive Bayes using Bag of Words features

              precision    recall  f1-score   support

           0       0.60      0.77      0.67       977
           1       0.70      0.51      0.59      1023

    accuracy                           0.63      2000
   macro avg       0.65      0.64      0.63      2000
weighted avg       0.65      0.63      0.63      2000

In [ ]:
#Logistic Regression Model

from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(max_iter=10000)
lr.fit(A_train, b_train)
b_pred_lr=lr.predict(A_test)
print("Classification Report of Logistic Regression using Bag of Words features")
print(" ")
print(classification_report(b_test,b_pred_lr))

Classification Report of Logistic Regression using Bag of Words features

              precision    recall  f1-score   support

           0       0.87      0.88      0.87       977
           1       0.88      0.88      0.88      1023

    accuracy                           0.88      2000
   macro avg       0.88      0.88      0.88      2000
weighted avg       0.88      0.88      0.88      2000

# Custom Test

In [ ]:
#Using best performing model (LogisticRegression)

y_cs=df.sentiment
trainingVector = CountVectorizer()
X_cs = trainingVector.fit_transform(df.review)
LR_cs = LogisticRegression(max_iter=10000)
LR_cs.fit(X_cs, y_cs)

#Input Review

print('\nTest a custom review message')
print('Enter review to be analysed: ', end=" ")
test = []
test.append(input())
test_cs = trainingVector.transform(test)
predLabel = LR_cs.predict(test_cs)
tags = ['Negative','Positive']

#Display Output

print('The review is predicted',tags[predLabel[0]])

Test a custom review message
Enter review to be analysed:  Every second was wonderful
The review is predicted Positive